@model BareboneFramework.Models.DetailsViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { EncType = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Item Name:", new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.HiddenFor(model => model.Id)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
        </div>

    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.CategoryCode, "Category Code:", new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.TextBoxFor(model => model.CategoryCode, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, "Description:", new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-7 pull-right">
            <input class="btn btn-primary" type="submit" value="submit" />
            <input class="btn btn-info" type="reset" value="reset" />
        </div>
    </div>
}
