@using System.Web.UI.WebControls
@using BareboneFramework.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - @GlobalData.AppInfo.CompanyName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <!--Header Part-->
    <header class="container">
        <div class="row img-overlay">
            <img class="pull-right" src="@Url.Content(GlobalData.AppInfo.HeaderBackground)" />
            <div class="overlay">
                @if (GlobalData.AppInfo.IsHeaderImage)
                {
                    <img class="col-md-8" src="@Url.Content(GlobalData.AppInfo.LogoPath)" alt="" />

                }
                else
                {
                    <img class="col-md-2" src="@Url.Content(GlobalData.AppInfo.LogoPath)" alt="" />
                    <h2 class="col-md-3">@Url.Content(GlobalData.AppInfo.HeaderText)</h2>
                }
            </div>
        </div>
    </header>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(GlobalData.AppInfo.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Category", "Index", "Category", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("Gallery", "Index", "Gallery", new { area = "Admin" }, null)</li>
                    <li>@Html.ActionLink("News", "Index", "News", new { area = "Admin" }, null)</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container container-body space-bottom">
        @RenderBody()
    </div>
    <footer class="navbar-inverse footer navbar-fixed-bottom">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - @GlobalData.AppInfo.CompanyName</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
