@model Base.Infrastructure.Model.News
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{

    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">

        (function () {

            $(function () {

                $('.richtextarea').tinymce({

                    // Location of TinyMCE script
                    script_url: '@Url.Content("~/Scripts/tinymce/tinymce.min.js")',
                    theme: "modern",

                    height: "250",
                    //width: "500",
                    verify_html: false,
                    plugins:[
                            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                            "save table contextmenu directionality emoticons template paste textcolor"
                    ],

                    // Theme options
                    theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
                    theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                    theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                    theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,codehighlighting,netadvimage",
                    theme_advanced_toolbar_location: "top",
                    theme_advanced_toolbar_align: "left",
                    theme_advanced_statusbar_location: "bottom",
                    theme_advanced_resizing: false,

                    // Example content CSS (should be your site CSS)
                    //content_css: "@Url.Content("~/Scripts/tinymce/skins/lightgray/content.min.css")",
                    convert_urls: false,

                });

            });

        })();

    </script>
}

@using (Html.BeginForm("Create", "News", FormMethod.Post, new { EncType = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.NewsHeadline, "Headline:", new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.HiddenFor(model => model.Id)
            @Html.TextBoxFor(model => model.NewsHeadline, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewsHeadline, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewsDetails, "News Details:", new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.NewsDetails, new { @class = "form-control richtextarea" })
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-7 pull-right">
            <input class="btn btn-primary" type="submit" value="submit" />
            <input class="btn btn-info" type="reset" value="reset" />
        </div>
    </div>
}
