@model BareboneFramework.Models.DetailsViewModel

@{
    ViewBag.Title = "Details";
}
@section scripts {
    <link href="@Url.Content("~/Content/flexslider.css")" rel="stylesheet" />

    @Scripts.Render("~/bundles/flexslider")

    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                animationLoop: true,
                itemWidth: 150,
                itemMargin: 5,
                pausePlay: true
            });
        });
    </script>
}

<div class="col-md-3">
    @Html.Partial("_SideMenu", Model.SideMenus)
</div>
<div class="col-md-9">
    <div class="row">
        <div class="space-bottom">
            <img class="center-block img-thumbnail" src="@Url.Content(Model.ImagePath)" width="480" />

        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" ><strong>Summary</strong></div>
            <div class="panel-body">
                <strong>Product Name</strong>@Html.Raw(Model.Summary)
                <strong>Model </strong><span class="text-danger">@Html.Raw(Model.ItemCode)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">
                @Html.Raw(Model.Description)

            </div>
        </div>
    </div>

    <section class="slider">
        <div class="flexslider carousel">
            <ul class="slides">
                @foreach (var item in @Model.RelatedImages)
                {
                    <li>
                        <a href="@Url.Action("Details", new {id = item.Id})" class="thumbnail"><img src="@Url.Content(item.ImagePath)" class="gallery-thumbnail" /></a>
                        <div>@item.Name</div>
                    </li>
                }


            </ul>
        </div>
    </section>
</div>


