@model BareboneFramework.Models.DetailsViewModel

@{
    ViewBag.Title = "Details";
}
@section scripts {    
    <link href="@Url.Content("~/Content/flexslider.css")" rel="stylesheet" />

    @Scripts.Render("~/bundles/flexslider")

    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                animationLoop: true,
                itemWidth: 210,
                itemMargin: 5,
                pausePlay: true
            });
        });
    </script>
}

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Categories</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="row">
        <div class="panel">
            <img class="center-block img-thumbnail" src="@Model.ImageLocation" width="480" />

        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Summary</div>
            <div class="panel-body">
                <div class="list-group">
                    @Html.Raw(Model.ItemInfo)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">
                <div class="list-group">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>

    <section class="slider">
        <div class="flexslider carousel">
            <ul class="slides">
                <li>
                    <a href="#"><img src="http://lorempixel.com/400/300/sports/1/" /></a>
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/2/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/3/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/4/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/5/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/1/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/2/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/3/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/4/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/2/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/1/" />
                </li>
                <li>
                    <img src="http://lorempixel.com/400/300/sports/3/" />
                </li>
            </ul>
        </div>
    </section>
</div>


